$main-color: #ffbb38;
$main-gradient: linear-gradient(#ffcf23, #ff8d3a);
$white: #fff;
$black: #000;
$black-light: #0b0e13;
$dark-grey: #27292e;
$grey: rgba(255, 255, 255, 0.34);
$light-grey: #626468;
